*{
  margin: 0px;
}
.bg-color-navbar{
  background-color: blue;
}
.text-decoration{
  text-decoration: none;
} 
.section_bg{
  background-color:#2e256d;
  color: white;
  height: 230px;
  margin-top: 50px;
}
/* cloths catagory */
#product-list-row{
  /* border: 1px solid red; */
  margin: auto;
  width: 1200px;
  
}

/* .product-title {
  font-size: 24px;
  margin-bottom: 20px;
}  */
/* viewall vitare work karuchhi */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-item {
  width: calc(20% - 20px); /* Adjust the width based on your layout preferences */
  margin: 0 0 20px;
  padding: 10px;
  border: 1px solid #ddd;
  /* border-radius: 10px; */
  box-sizing: border-box;
  margin-top: 30px;
}
.product-image {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}
.product-title {
  font-size: 18px;
  margin: 10px 0;
}

.carousel-inner{
  height: 450px;
}
.btn-primary{
  margin-left:1200px;
  margin-top: -60px;

}

#navgurukul{
  /* margin-left: 545.5pxpx; */
  margin-top: 38px;

}
.e-commerce{
  margin-top: 8px;
  margin-left: 545.5pxpx;

}
.e-logo{
  margin-top: 20px;
  align-items: center;
  margin-left: 545.5pxpx;

}
.row product-list{
  height:100px;
}

.footer{
  height: 230px;
  background: #3722D3;
  /* margin-left: 20px; */
  color: white;
}

.footer1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

/* allcloths */

/* slider */
#carouselExampleIndicators{
  margin: auto;
  width: 1300px;
  border-radius: 60px;
}