*{
  margin: 0px;
}
.navbar_bg{
  background-color: #0C73EB;
  color: white;
}
.header{
  align-items:center;
  height: 110px;
  color: rgb(200, 32, 32);
  align-items: center;
  background-color: black;
}
.search_bar{
  height: 30px;
  width: 650px;
  border-radius: 15px;
  background-color:white;
  /* box-shadow: 2px 2px;x */
  font-size:15px;
  align-items: center;
  margin-top: 30px;
  margin-left: 80px;

}
.ul_tag_header{
  list-style-type:none;
  color: black;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
  margin-left: 800px;
  text-decoration: none;
}
.text-decoration{
  text-decoration: none;

}

gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
  }
  .gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
  }
  .login_1 {
    text-align: center;
    margin-top: 100px;
    /* font-size: 30px; */
    /* background-color: aquamarine; */
  }
  
  .login_2 {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login_google{background-color: #4285F4;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 30px;
  }
  .login_facebook {
    background-color: #4285F4;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .login_mail, .login_password {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  /* Style for the Remember Me section */
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  
  /* Style for the Login button */
  button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    /* margin-top: 10px; */
  }
  
  /* Style for the Not a Member section */
  .login_account {
    margin-top: 15px;
    font-size: 15px;
  }
<<<<<<< HEAD
  
=======
  /* Product */
  .main_product{
    /* background-color: #d3d7dd; */
  }
  .row1{
    margin:auto;
    /* border: 1px solid red; */
    height: 351px;
    width: 1500px;
    margin-top: 30px;
    /* background-color: rgb(91, 32, 41); */
  }
  .col1{
    border: 1px solid rgb(20, 19, 19);
    width: 300px;
    height: 350px;
    float: left;

  }
  .col2{
    border: 1px solid rgb(20, 19, 19);
    width: 300px;
    height: 350px;
    float: left;

  }
  .col3{
    border: 1px solid rgb(20, 19, 19);
    width: 300px;
    height: 350px;
    float: left;

  }
  .col4{
    border: 1px solid rgb(14, 14, 14);
    width: 299px;
    height: 350px;
    float: left;
  }
  .col5{
    border: 1px solid rgb(20, 19, 19);
    width: 299px;
    height: 350px;
    float: left;
  }
  .row2{
    margin:auto;
    /* border: 1px solid red; */
    height: 351px;
    width: 1500px;
    margin-top: 30px;

  }
  .col6{
    border: 1px solid rgb(14, 14, 14);
    width: 299px;
    height: 350px;
    float: left;
  }
  .col7{
    border: 1px solid rgb(14, 14, 14);
    width: 299px;
    height: 350px;
    float: left;
  }
  .col8{
    border: 1px solid rgb(14, 14, 14);
    width: 300px;
    height: 350px;
    float: left;
  }
  .col9{
    border: 1px solid rgb(14, 14, 14);
    width: 300px;
    height: 350px;
    float: left;
  }
  .col10{
    border: 1px solid rgb(14, 14, 14);
    width: 300px;
    height: 350px;
    float: left;
  }
  .row3{
    margin:auto;
    /* border: 1px solid red; */
    height: 351px;
    width: 1500px;
    margin-top: 30px;

  }
  .col11{
    border: 1px solid rgb(14, 14, 14);
    width: 299px;
    height: 350px;
    float: left;
  }
  .col12{
    border: 1px solid rgb(14, 14, 14);
    width: 299px;
    height: 350px;
    float: left;
  }
  .col13{
    border: 1px solid rgb(14, 14, 14);
    width: 300px;
    height: 350px;
    float: left;
  }
  .col14{
    border: 1px solid rgb(14, 14, 14);
    width: 300px;
    height: 350px;
    float: left;
  }
  .col15{
    border: 1px solid rgb(14, 14, 14);
    width: 300px;
    height: 350px;
    float: left;
  }
  /* footer */
  .section_bg{
background-color:#131d2a;
/* background-color: black; */
color: white;
/* height: 300px; */
  }
>>>>>>> c2323abf8314bbfd29acafe4ccf924d13f871585
